body {
  background-color: #888888;
  text-align: center;
}
h1 {
  color: #cd0a0a;
  font-size: 4rem;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 6rem;
  margin-top: auto;
}
.box {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
form.edit {
  display: flex;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #111010;
}
.item:last-child {
  border-bottom: 0;
}
input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}
p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: black;
}
form {
  text-align: center;
  margin-left: 20px;
}
button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #000000;
  color: #e40202;
  font-size: 30px;
  border-width: 0;
  margin-left: 15px;
}
button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}
.icon {
  height: 20px;
}
input[type="text"] {
  text-align: left;
  height: 42px;
  top: 10px;
  border: 2px #e40202 solid;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 black;
}

::placeholder {
  color: rgb(128, 126, 126);
  opacity: 1;
}
