<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Manager</title>
    <link href="/style/homepage.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Lancelot&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container">
      <div id="title">
        <h1>Movie Manager</h1>
        <img
          src="/images/file.png"
          alt="man sitting on a bean bag wearing 3d glasses"
        />
      </div>
      <div id="options">
        <a href="watchlist.ejs"><button id="watchlist">Your Watchlist</button></a>
      </div>
    </div>
    <script href="index.js"></script>
  </body>
  <%- include("../partials/footer.ejs") %>
</html>
